# Generic CCSDS Space Packet configuration.
ccsds_packet_error_control:string=crc16
data_field_size:int=32
sync_pattern_enable:bool=false
validation_enable:bool=true
ccsds_version_number:int=0
ccsds_type:bool=false
ccsds_secondary_header_flag:bool=false
ccsds_APID:int=42
ccsds_segmented:bool=false
define_secondary_header:bool=false
